---
name: Update Resume Gist

'on':
  push:
    branches:
      - main

jobs:
  update-resume-gist:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - uses: cachix/install-nix-action@v23
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - run: |
        nix build .#nix-to-json && ./result

    - name: Update Resume Gist
      uses: exuanbo/actions-deploy-gist@v1
      with:
        #
        # Manual configuration required for this to work.
        #
        # See the docs here: https://github.com/exuanbo/actions-deploy-gist
        #
        gist_id: <your-id-here>
        token: ${{ secrets.TOKEN }}
        file_path: resume.json
